@import url("https://fonts.googleapis.com/css2?family=VT323&family=Share+Tech+Mono&display=swap");

body {
    background: #0e0e40;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Share Tech Mono', monospace;
}

body::before {
    background: url("img/background.jpg") center center/cover no-repeat;
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    filter: blur(10px);
    transform: scale(1.05);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

body::before,
body::after {
    pointer-events: none;
}

h1, h2, h3 {
    font-family: 'VT323', monospace;
    text-align: center;
}

.langchange {
    background: #080825;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 0;
}

.langchange a:visited {
    color: white;
}

.hero {
    font-size: 2rem;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.container {
    background: #f8f9fb;
    color: #111;
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;

    box-shadow:
            0 0 0 1px rgba(112, 181, 237, 0.35),
            0 10px 25px rgba(0, 0, 0, 0.08);
}

.container h2 {
    margin-top: 0;
    border-bottom: 2px solid rgba(112, 181, 237, 0.4);
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
}

.container p {
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: 0.01rem;
}


.skills-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skill {
    background: white;
    padding: 0.4rem 0.6rem;
    border: 1px solid #0e0e40;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.skill img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

footer {
    background-color: #080825;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

footer p {
    margin: 0;
}

footer a:visited {
    color: white;
}