@import url("https://fonts.googleapis.com/css2?family=VT323&family=Share+Tech+Mono&display=swap");

body {
    background: #0e0e40;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Share Tech Mono', monospace;
}

body::before {
    background: url("img/background.jpg") center center/cover no-repeat;
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    filter: blur(10px);
    transform: scale(1.05);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

body::before,
body::after {
    pointer-events: none;
}

h1, h2, h3 {
    font-family: 'VT323', monospace;
}

.langchange {
    background: #080825;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 0;
}

.langchange a:visited {
    color: white;
}

.hero {
    font-size: 2rem;
    text-align: center;
}