body {
    background: #0e0e40;
    color: white;
    padding: 0;
    margin: 0;
}

.langchange {
    background: #080825;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.langchange a:visited {
    color: white;
}